@page "/"
@using m8.Web.Components

<div class="row">
    <div class="col">
        <h1>Profile</h1>
        <p>I am a @Age year old passionate full stack web developer, with a very nerdy passion for making and implementing smart products in my own home.</p>
        <p>After getting my Computer Science degree in 2017, I have worked with quite a few different tech stacks, both on the backend and frontend side, with the main focus being .NET and C#.</p>
        <p>Privately, I am a family man: I am married to Annesofie and we live in Ikast with our dog. As of November, we will also be joined by our first child.</p>
    </div>
</div>
<WorkExperienceComponent />